@import url(../fonts/Mont/mont.css);
@import url(../fonts/SF-PRO/SFPro.css);

.page {
  margin: 0 auto;
}

.header {
  padding: 65px 0 164px;
  background-color: #11161E;
}

@media screen and (min-width:1920px) {
  .header {
    padding-top: 105px;
  }
}

@media screen and (max-width:1440px) {
  .header {
    padding: 50px 48px 100px;
  }
}

@media screen and (max-width:1023px) {
  .header {
    padding: 30px 30px 80px;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__menu {
  margin: 0 auto;
  padding-bottom: 133px;
}

@media screen and (max-width: 1599px) {
  .header__menu {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .header__menu {
    padding-bottom: 40px;
  }
}

.menu-list {
  max-width: 1280px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.menu-list__item {
  margin: 0 5vw 0 0;
}

.menu-list__item:last-child {
  margin: 0;
}

.menu-list__item:nth-child(3) {
  margin-right: 15vw;
}

.menu-list__item:nth-child(4) {
  margin: 0;
}

.menu-list__item:nth-child(5) {
  margin-left: 15vw;
}

@media screen and (min-width: 1280px) {
  .menu-list__item {
    margin: 0 58px 0 0;
  }

  .menu-list__item:last-child {
    margin: 0;
  }

  .menu-list__item:nth-child(3) {
    margin-right: 180px;
  }

  .menu-list__item:nth-child(4) {
    margin: 0;
  }

  .menu-list__item:nth-child(5) {
    margin-left: 180px;
  }
}

@media screen and (max-width: 1100px) {
  .menu-list__item {
    margin: 0 30px 0 0;
  }

  .menu-list__item:last-child {
    margin: 0;
  }

  .menu-list__item:nth-child(3) {
    margin-right: 50px;
  }

  .menu-list__item:nth-child(4) {
    margin: 0;
  }

  .menu-list__item:nth-child(5) {
    margin-left: 50px;
  }
}


.menu-list__link {
  text-decoration: none;
  color: rgba(118, 134, 159, 0.8);
  font-family: 'SFPro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: 0.5s;
}

.menu-list__link:hover,
.active {
  color: #5CA35B;
  font-weight: 600;
}

.header__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(300px, 578px) minmax(300px, 467px);
  gap: 89px;
}

@media screen and (max-width: 1023px) {
  .header__grid {
    grid-template-columns: minmax(200px, 350px) minmax(200px, 350px);
    gap: 60px;
  }
}

.haeder__grid-img {
  width: 100%;
}

.header__title {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 101.3%;
  color: white;
  margin: 6% 0 0;
}

@media screen and (max-width: 1060px) {
  .header__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .header__title {
    font-size: 40px;
  }
}

.header__text {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 129.8%;
  color: #6A7C95;
  max-width: 453px;
  margin: 39px 0 0;
}

@media screen and (max-width: 1023px) {
  .header__text {
    font-size: 18px;
    margin-top: 25px;
  }
}

.header__button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 262px;
  background-color: #5CA35B;
  padding: 11px 20px;
  border-radius: 10px;
  margin-top: 67px;
  transition: .5s;
  transition-delay: .3s;
}

.header__button:hover {
  transform: scale(1.1);
  transition-delay: 0s;
}

.header__button-text {
  max-width: 239px;
  text-decoration: none;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 151.3%;
  text-align: center;
  color: #FFFFFF;
}

.header__contacts {
  display: flex;
  margin-top: 175px;
}

.header__contacts-item {
  margin: 0 25px 0 0;
  padding: 0 0 17px 0;
  text-decoration: none;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: rgba(118, 134, 159, 0.8);
  display: flex;
  align-items: center;
  transition: .5s;
}

.header__contacts-item:hover {
  opacity: 0.3;
}

.header__contacts-img {
  margin-right: 12px;
}

@media screen and (max-width: 1023px) {
  .header__contacts {
    margin-top: 160px;
  }
}

.link {
  background-color: #181F29;
  padding: 160px 0;
}

@media screen and (max-width:1440px) {
  .link {
    padding: 100px 48px;
  }
}

@media screen and (max-width:1023px) {
  .link {
    padding: 100px 30px;
  }
}

.section-title {
  margin: 0 0 22px 0;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #FFFFFF;
}

.section-subtitle {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142.8%;
  color: #6A7C95;
}

.section-subtitle_link {
  max-width: 753px;
}

.link__cards {
  margin-top: 65px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 95px;
}

@media screen and (max-width: 1105px) {
  .link__cards {
    gap: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .link__cards {
    gap: 20px;
  }
}

.link__card {
  background-color: #273140;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 15px;
}

.link__card-pic {
  object-fit: cover;
  object-position: center;
}

.link__card-heading {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 28px 0;
}

.link__card-text {
  margin: 0;
  max-width: 250px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 142.8%;
  text-align: center;
  color: #717E92;
}

@media screen and (max-width: 1023px) {
  .link__card-text {
    font-size: 14px;
  }
}

.posblty {
  background-color: #11161E;
  padding: 143px 0 168px
}

@media screen and (max-width: 1440px) {
  .posblty {
    padding: 120px 48px 148px;
  }
}

@media screen and (max-width: 1023px) {
  .posblty {
    padding: 100px 30px 120px;
  }
}

.section-subtitle_posblty {
  max-width: 600px;
}

.posblty__links {
  max-width: 590px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 69px 0 0;
  padding: 0;
}

.posblty__link {
  transition: .5s;
}

.posblty__link:hover {
  opacity: .3;
}

.convenience {
  background-color: #181F29;
  padding: 140px 0 0;
}

@media screen and (max-width: 1440px) {
  .convenience {
    padding: 120px 48px 50px;
  }
}

@media screen and (max-width: 1023px) {
  .convenience {
    padding: 100px 30px 30px;
  }
}

.section-subtitle_convenience {
  max-width: 565px;
}

.convenience__button {
  max-width: 262px;
  box-sizing: border-box;
  padding: 15px 30px;
  background-color: #212A38;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 49px;
  color: #6A7C95;
  transition: .7s;
}

.convenience__button:hover {
  transform: scale(1.1);
  color: #5CA35B;
  border: 2px solid #5CA35B;
}


.convenience-grid {
  display: grid;
  grid-template-columns: minmax(300px, 565px) minmax(300px, 535px);
}

@media screen and (max-width: 950px) {
  .section-subtitle_convenience {
    font-size: 16px;
  }

  .convenience-grid {
    gap: 20px;
  }

  .convenience__button {
    margin-top: 25px;
  }
}

.convenience__image {
  width: 100%;
}


.cheap {
  background-color: #11161E;
  padding: 143px 0 169px;
}

.section-subtitle_cheap {
  max-width: 514px;
}

@media screen and (max-width: 1440px) {
  .cheap {
    padding: 120px 48px 140px;
  }
}

@media screen and (max-width: 1023px) {
  .cheap {
    padding: 100px 30px 120px;
  }
}

.cheap__grid-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  margin: 48px 0 0 0;
}

@media screen and (max-width: 1200px) {
  .cheap__grid-container {
    gap: 5%;
  }
}

.cheap__grid-item {
  background-color: #273140;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 25px;
}

@media screen and (max-width: 1200px) {
  .cheap__grid-item{
    padding: 30px 35px;
  }
}

.cheap__grid-heading {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 5px;
}

.cheap__grid-rate {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #717E92;
  margin: 0;
}

.cheap__grid-list {
  padding: 0;
  margin: 23px 0 39px;
}

.cheap__grid-list-item {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160.3%;
  color: #717E92;
}

@media screen and (max-width: 1200px) {
  .cheap__grid-list-item{
    font-size: 14px;
  }
}

.cheap__grid-list-item_disable {
  opacity: .3;
}

.cheap__grid-price {
  max-width: 248px;
  box-sizing: border-box;
  padding: 10px 65px;
  text-decoration: none;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  transition: .5s;
}

@media screen and (max-width: 1200px) {
  .cheap__grid-price{
    padding: 10px 40px;
  }
}

@media screen and (max-width: 890px) {
  .cheap__grid-price{
    font-size: 16px;
    padding: 15px 20px;
  }
}

.cheap__grid-price:hover {
  transform: scale(1.2);
  border-radius: 10px;
  transition-delay: 0;
}

.cheap__grid-price_alt {
  background-color: #6A7395;
}

.cheap__grid-price_command {
  background-color: #6A9590;
}

.cheap__grid-price_delete {
  background-color: #95936A;
}

.socials {
  background-color: #181F29;
  padding: 145px 0 113px;
}

@media screen and (max-width: 1440px) {
  .socials {
    padding: 120px 48px 100px;
  }
}

@media screen and (max-width: 1023px) {
  .socials {
    padding: 100px 30px 80px;
  }
}

.section-subtitle_socials {
  max-width: 565px;
}

.socials__list {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 368px;
  justify-content: space-between;
  margin-top: 40px;
}

.social__link {
  transition: .7s;
}

.social__link:hover {
  opacity: .4;
}
