@import url(../fonts/Mont/mont.css);
@import url(../fonts/SF-PRO/SFPro.css);

.page {
  margin: 0 auto;
}

.header {
  padding: 65px 0;
  background-color: #11161E;
}

@media screen and (min-width:1920px) {
  .header {
    padding-top: 105px;
  }
}

@media screen and (max-width:1440px) {
  .header {
    padding: 50px 48px 0;
  }
}

@media screen and (max-width:1023px) {
  .header {
    padding: 30px 30px 0;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__menu {
  margin: 0 auto;
  padding-bottom: 133px;
}

@media screen and (max-width: 1599px) {
  .header__menu {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .header__menu {
    padding-bottom: 40px;
  }
}

.menu-list {
  max-width: 1280px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.menu-list__item {
  margin: 0 5vw 0 0;
}

.menu-list__item:last-child {
  margin: 0;
}

.menu-list__item:nth-child(3) {
  margin-right: 15vw;
}

.menu-list__item:nth-child(4) {
  margin: 0;
}

.menu-list__item:nth-child(5) {
  margin-left: 15vw;
}

@media screen and (min-width: 1280px) {
  .menu-list__item {
    margin: 0 58px 0 0;
  }

  .menu-list__item:last-child {
    margin: 0;
  }

  .menu-list__item:nth-child(3) {
    margin-right: 180px;
  }

  .menu-list__item:nth-child(4) {
    margin: 0;
  }

  .menu-list__item:nth-child(5) {
    margin-left: 180px;
  }
}

@media screen and (max-width: 1100px) {
  .menu-list__item {
    margin: 0 30px 0 0;
  }

  .menu-list__item:last-child {
    margin: 0;
  }

  .menu-list__item:nth-child(3) {
    margin-right: 50px;
  }

  .menu-list__item:nth-child(4) {
    margin: 0;
  }

  .menu-list__item:nth-child(5) {
    margin-left: 50px;
  }
}


.menu-list__link {
  text-decoration: none;
  color: rgba(118, 134, 159, 0.8);
  font-family: 'SFPro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: 0.5s;
}

.menu-list__link:hover,
.active {
  color: #5CA35B;
  font-weight: 600;
}

.header__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(300px, 578px) minmax(300px, 467px);
  gap: 89px;
}

@media screen and (max-width: 1023px) {
  .header__grid {
    grid-template-columns: minmax(200px, 350px) minmax(200px, 350px);
    gap: 60px;
  }
}

.haeder__grid-img {
  width: 100%;
}

.header__title {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 101.3%;
  color: white;
  margin: 6% 0 0;
}

@media screen and (max-width: 1060px) {
  .header__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .header__title {
    font-size: 40px;
  }
}

.header__text {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 129.8%;
  color: #6A7C95;
  max-width: 453px;
  margin: 39px 0 0;
}

@media screen and (max-width: 1023px) {
  .header__text {
    font-size: 18px;
    margin-top: 25px;
  }
}

.header__button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 262px;
  background-color: #5CA35B;
  padding: 11px 20px;
  border-radius: 10px;
  margin-top: 67px;
  transition: .5s;
  transition-delay: .3s;
}

.header__button:hover {
  transform: scale(1.1);
  transition-delay: 0s;
}

.header__button-text {
  max-width: 239px;
  text-decoration: none;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 151.3%;
  text-align: center;
  color: #FFFFFF;
}

.header__contacts {
  display: flex;
  margin-top: 175px;
}

.header__contacts-item {
  margin: 0 25px 0 0;
  padding: 0 0 17px 0;
  text-decoration: none;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: rgba(118, 134, 159, 0.8);
  display: flex;
  align-items: center;
  transition: .5s;
}

.header__contacts-item:hover {
  opacity: 0.3;
}

.header__contacts-img {
  margin-right: 12px;
}

@media screen and (max-width: 1023px) {
  .header__contacts {
    margin-top: 160px;
  }
}
